#
# TÄHÄN TIEDOSTOON EI SAA TALLENTAA YMPÄRISTÖKOHTAISIA ARVOJA MUUTOIN KUIN MUUTTUJINA!!!
#
# Tämä tiedosto toimii pohjana oph-configuration/common.properties tiedostolle,
# joka asettaa tomcatin ympäristökohtaiset arvot.
#

# Aseta vähintään nämä ympäristökohtaiset arvot

spring:
  datasource:
    url: jdbc:postgresql://localhost:5489/ohjausparametrit?ApplicationName=ohjausparametrit-service
    username: oph
    password: oph

cas:
  service: http://localhost:8080/ohjausparametrit-service

kouta:
  username: DUMMY
  password: DUMMY

host:
  host-virkailija: virkailija.testiopintopolku.fi
  host-cas: virkailija.testiopintopolku.fi
  host-alb: https://virkailija.testiopintopolku.fi