
<div ng-show="false">

    <div class="form-horizontal">
        Date:
        <input type="text" datepicker-popup="dd.MM.yyyy" ng-model="date" open="opened" min="minDate" max="'2015-06-22'" ng-required="true" />
    </div>

    <div class="form-horizontal">
        Time: <timepicker ng-model="date" show-meridian="false"></timepicker>
    </div>

    {{ date | date:'fullDate'}}

</div>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Parametrien hallinta</a>
        </div>
    </div>
</div>

<div class="row">

    <div class="span4">

        <form class="form-horizontal">
            <fieldset>
                <legend>Parametrit ({{ parameters.length }})</legend>

                <div class="control-group">
                    <label class="control-label">Toiminnot</label>
                    <div class="controls">
                        <button class="btn btn-success" ng-click="doCreateNewParameter()">Luo uusi parametri</button>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Suodatus</label>
                    <div class="controls">
                        <input type="text" ng-model="parameterFilter" placeholder="Suodata..."></input>
                    </div>
                </div>
            </fieldset>
        </form>

        <ul>
            <li ng-repeat="p in parameters | filter: parameterFilter">
                <a ng-click="doSelectParameter(p)">{{ p.path }}</a> {{ p.values.length }}
            </li>
        </ul>

    </div>

    <div class="span4" ng-show="selectedParameter">

        <form class="form-horizontal">
            <fieldset>
                <legend>Valittu parametri</legend>

                <div class="control-group">
                    <label class="control-label">Tyyppi</label>
                    <div class="controls">
                        <select ng-model="selectedParameter.type" ng-options="t.type as t.name for t in parameterTypes"></select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Polku</label>
                    <div class="controls">
                        <input type="text" placeholder="foo.bar.zyzzy" class="input-xlarge" ng-model="selectedParameter.path" ng-required="true">
                        <p class="help-block">Syötä parametrin uniikki avain</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Nimi</label>
                    <div class="controls">
                        <input type="text" placeholder="Parametrin nimi" class="input-xlarge" ng-model="selectedParameter.name" ng-required="true">
                        <p class="help-block">Syötä parametrin nimi</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Kuvaus suomi</label>
                    <div class="controls">
                        <textarea ng-model="selectedParameter.description['kieli_fi']"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Kuvaus ruotsi</label>
                    <div class="controls">
                        <textarea ng-model="selectedParameter.description['kieli_sv']"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Kuvaus englanti</label>
                    <div class="controls">
                        <textarea ng-model="selectedParameter.description['kieli_en']"></textarea>
                    </div>
                </div>

            </fieldset>
        </form>

        <input type="text" ng-model="parameterValueFilter" placeholder="Suodata..." ng-focus="true"></input>

        <ul>
            <li ng-repeat="pv in selectedParameter.values | filter: parameterValueFilter">
                <a ng-click="doSelectParameterValue(pv)">{{ pv.target }}</a>
            </li>
        </ul>

    </div>

    <div class="span4" ng-show="selectedParameterValue">

        <form class="form-horizontal">
            <fieldset>
                <legend>Valittu kohde</legend>

                <div class="control-group">
                    <label class="control-label">Kohde</label>
                    <div class="controls">
                        {{ selectedParameterValue.target }}
                    </div>
                </div>

            </fieldset>
        </form>

    </div>

</div>

<div class="row clearfix">
    <div class="span12">
        <hr>
        <a href="http://www.oph.fi" >Opetushallitus</a>
    </div>
</div>


<div class="container">

    <div id="login-wraper">
        <form class="form login-form">
            <legend>Sign in to <span class="blue">MyApp</span></legend>

            <div class="body">
                <label>Username</label>
                <input type="text">

                <label>Password</label>
                <input type="password">
            </div>

            <div class="footer">
                <label class="checkbox inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> Remember me
                </label>

                <button type="submit" class="btn btn-success">Login</button>
            </div>

        </form>
    </div>

</div>




<div modal="shouldBeOpen" >
    <div class="modal-header">
        <h3>I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li>{{ selectedParameter.path }}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
    </div>
</div>
