<!DOCTYPE html>
<html ng-app="xstrap">
    <head>
        <title></title>

        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">

        <!-- required libraries -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="//mgcrea.github.com/angular-strap/js/angular-strap.js"></script>
        <script src="//mgcrea.github.com/angular-strap/vendor/bootstrap-datepicker.js"></script>

        <script src="../js/xstrap.js"></script>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body ng-controller="MainCtrl">

        <!--
        <input type="text" ng-model="datepicker.date" data-date-format="dd.mm.yy" bs-datepicker />

        <p/>

        <div class="btn-group" bs-buttons-checkbox>
            <button type="button" class="btn" ng-model="checkbox.left">Julkaistu</button>
            <button type="button" class="btn" ng-model="checkbox.middle">Käsitelty</button>
            <button type="button" class="btn" ng-model="checkbox.right">Ajastettu</button>
        </div>

        <p/>

        <script type="text/ng-template" id="DATE">
            D {{pv.type}} -
            {{pv.target}} -
            {{pv.value}}
            <input type="text" bs-datepicker date-format="dd.mm.yyyy" xdate-format data-ng-model="pv.value" />
        </script>

        <script type="text/ng-template" id="INTEGER">
            I {{pv.type}} -
            {{pv.target}} -
            <input type="number" min="0" max="100"  data-ng-model="pv.value" required="pv.required"/>
        </script>

        <div>
            Valitse haku:

            <select data-ng-model="selectedHakuOid">
                <option value="">[Valitse haku]</option>
                <option value="{{h.oid}}" data-ng-repeat="h in hakus">{{h.name}}</option>
            </select>

            Selected: '{{selectedHakuOid}}'
        </div>

        <div>
            Parametrit:

            <ol>
                <li data-ng-repeat="p in parameters">
                    {{p.path}} -
                    {{p.name}} -
                    {{p.type}} -
                    {{p.required}}

                    <ul>
                        <li data-ng-repeat="pv in p.values">{{pv.target}} - {{pv.type}} - {{pv.value}}</li>
                    </ul>
                    <ul>
                        <li>
                            <div data-ng-repeat="pv in p.values" data-ng-include="pv.type">
                            </div>
                        </li>
                    </ul>

                </li>
            </ol>
        </div>

        <p/>
        -->

        <div ng-form="f1" ng-init="step = 0">
            <div ng-show="step == 0">
                <h1>Step 0</h1>
                Please fill out the ...
                <button  ng-click="step = step + 1">Next</button>
            </div>
            <div ng-form="f1_1" ng-show="step == 1">
                <h1>Step 1 (valid = {{f1_1.$valid}})</h1>
                Firstname: <input type="text" name="fname" ng-model="fname" />
                <span class="error" ng-show="f1_1.fname.$error.required">Required!</span>

                Lastname: <input type="text" name="lname" ng-model="lname" required />
                <span class="error" ng-show="f1_1.lname.$error.required">Required!</span>

               <button  ng-click="step = step - 1">Prev</button>
                <button  ng-disabled="!f1_1.$valid" ng-click="step = step + 1">Next</button>
            </div>
            <div ng-form="f1_2" ng-show="step == 2">
                <h1>Step 2(valid = {{f1_2.$valid}})</h1>
                Phone: <input type="text" name="phone" ng-model="phone" required ng-pattern="/^\d+$/"  />
                <span class="error" ng-show="f1_2.phone.$error.required">Required!</span>
                <span class="error" ng-show="f1_2.phone.$error.pattern">Not a phone number!</span>

                Email: <input type="email" name="email" ng-model="email" />
                <span class="error" ng-show="f1_2.email.$error.email">Not a valid email address!</span>

                <button  ng-click="step = step - 1">Prev</button>
                <button  ng-disabled="!f1_2.$valid" ng-click="step = step + 1">Next</button>
            </div>
            <div ng-form="1_3" ng-show="step == 3">
                <h1>Step 3</h1>
                READY!
                (valid = {{f1.$valid}})

                <pre>
FNAME: {{fname}}
LNAME: {{lname}}
PHONE: {{phone}}
EMAIL: {{email}}
                </pre>

                <button  ng-click="step = step - 1">Prev</button>

            </div>
        </div>


    </body>
</html>
